h1{
    text-align: center;
    color:darkblue
}
body{
    background-color: aquamarine;
}
p{color:black;
text-align:justify;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 18px;
}
button{
    Border:none;
    color: bisque;
}